[Service]
# Verbosity of the logging system
# Possible values are:
# CRITICAL, ERROR, WARNING, INFO, DEBUG
verbosity = INFO

[mysql]
host = localhost
user = datacoll
password = datacoll
db = datacoll
limit = 500
