[Service]
# Verbosity of the logging system
# Possible values are:
# CRITICAL, ERROR, WARNING, INFO, DEBUG
verbosity = INFO

[mongo]
host = localhost
port = 27017
user = datacoll
password = datacoll
db = datacoll
limit = 500
